@model IEnumerable<WebAppMvc.Models.CartItemModel>;

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>All Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retailer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retailer)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a> |
            </td>
        </tr>
}
    </tbody>
</table>