@model WebAppMvc.Models.ProductModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retailer)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Cart" asp-route-id="@Model.Id">Add to Shopping Cart</a> |
    <a asp-action="Index">Back to List</a>
</div>